img {
    width: auto;
    height: 50vh;
    border: 2px solid #ddd; 
    border-radius: 8px; 
    margin-bottom: 10px;
}   

@media (max-width: 800px) {
    img {
        width: 60vw;
        height: auto;
    }
}