/* Score Section Container */
.score-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  #f04e4e;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: fit-content;
    min-width: 200px;
    margin: 20px auto;
}

/* Score Text */
.score-text {
    font-size: 28px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
    text-transform: uppercase;
}


/* Responsive Design */
@media (max-width: 600px) {
    .score-section {
        width: 90%;
        padding: 20px;
    }
}
